.site__footer {
  margin: 0 auto;
  width: 960px;
  background: #1e3138;
  padding: 1rem;
  color: #a8a8a8;
  background-color: black;
}

.footer__section {
  align-items: flex-start;
}
/* Store locations sections column */
.footer__about {
  font-style: normal;
  font-weight: bold;
}

.footer__columns {
}
.footer__columns__large {
}
/* (Overview, Resources, Information) sections column */
.footer__columns {
}

.footer__column__menu {
}

.footer__column__menu__item {
}

.footer__column__menu__item__link {
}
/* footer columns sections same as Overview sections*/

/* footer social media sections*/
.horizontal__footer__section {
}
.footer__bottom__section {
}

.footer__copyright__info {
}
