#site__footer {
  margin: 0 auto;
  width: 960px;
  background: (--gb-primary-color);
  padding: 1rem;
  color: var(--gray30);
}

#site__footer a {
  color: var(--gray30);
}

#site__footer a:hover {
  color: var(--link-hover10);
}

#site__footer h1 {
  color: var(--gray10);
}

#site__footer .horizontal__footer__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2.38rem 2rem;
}

#site__footer .horizontal__footer__section#footer__middle__section {
  align-items: flex-start;
}

#site__footer .footer__columns {
  flex-basis: 18%;
  padding-right: 1rem;
}

.footer__section {
  align-items: flex-start;
}

.footer__about {
  font-style: normal;
  font-weight: bold;
}

#site__footer .footer__columns__large {
  flex-basis: 46%;
  padding-right: 2rem;
}

#site__footer .footer__columns h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 800;
}

#site__footer .footer-columns.footer__columns__large h1 {
  font-size: 1.28rem;
  margin-top: 3rem;
  margin-bottom: 1.32rem;
}

#site__footer .footer__columns.footer__columns__large h1:first-child {
  margin-top: 0;
}

#site__footer ul.footer__column-menu {
  margin: 0;
  padding: 0;
}

#site__footer ul.footer__column__menu li {
  list-style-type: none;
  margin-bottom: 0.68rem;
  font-size: 0.88rem;
}

#site__footer #footer__about address {
  font-style: normal;
  font-weight: bold;
}

#site__footer #footer__about address p img {
  margin-right: 0.68rem;
}

#site__footer #footer__about a.footer__button {
  margin-top: 0.32rem;
}

#site__footer .horizontal__footer__section#footer__bottom__section {
  padding: 1.32rem 0;
  margin: 2rem 2rem 1.32rem 2rem;
  border-top: 0.05rem solid var(--gray30);
}

#site__footer #footer__social__buttons {
  justify-self: flex-end;
  margin-left: auto;
}

#site__footer #footer__social__buttons img {
  margin-left: 0.68rem;
}

#site__footer #footer__social__buttons img:hover {
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  #site__footer {
    width: 100%;
  }

  #site__footer .horizontal__footer__section {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #site__footer .horizontal__footer__section div {
    flex-basis: 100%;
    width: 100%;
  }

  #site__footer ul li {
    display: block !important;
    padding: 1em !important;
    border-top: 1px solid #555555;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-size: 1.15rem !important;
  }

  #site__footer ul li:first-child {
    border-top: none;
  }

  #site__footer a.footer__button {
    display: block;
    text-align: center;
    max-width: 350px;
    margin: 0.32rem auto;
  }

  #site__footer .horizontal__footer__section#footer__top__section div {
    margin-top: 0;
    margin-bottom: 1.68rem;
  }

  #site__footer #footer___logo {
    margin-right: 0;
  }

  #site__footer #footer__buttons__container {
    margin-left: 0;
  }

  #site__footer ul#footer__top__menu {
    width: 100%;
    margin: 2rem 0 0 0;
  }

  #site__footer .footer__top__menu__item__active::before {
    display: none;
  }

  #site__footer #footer__about {
    margin-bottom: 3rem;
  }

  #site__footer .footer__columns__large,
  #site__footer .footer__columns {
    padding-right: 0;
  }

  #site__footer .footer__columns {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  #site__footer .footer__columns:last-child {
    margin-bottom: 0;
  }

  #site__footer .footer__columns h1 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  #site__footer ul.footer__column__menu li {
    margin-bottom: 0;
    display: block;
    text-align: center;
  }

  #site__footer #footer__bottom__section div {
    text-align: center;
  }

  #site__footer .horizontal__footer__section#footer__bottom__section {
    margin: 1.32rem 0;
    padding: 0;
    border-top: 0;
  }

  #site__footer #footer__bottom__section #footer__social__buttons {
    margin-top: 1.32rem;
  }
}
